<div class="header_"><h5>A Propos</h5></div>
<h2>Bienvenue sur notre site</h2>
<div id="_h2" class="title-line"></div>

<p style="text-align: center; margin: 2em auto;">Nous sommes Jérôme et Rachel deux jeunes parents afro-antillais fondateur de l'école NASARA.</p>

<div style="text-align: center; margin-bottom: 2em;">
    <img class="about_us" style="border-radius: 10px;" width="600" src="assets/img/17492907_436272953381029_3093198193833131179_o.jpg">
</div>

<h3>Ecole NASARA</h3>
<div id="_h3" class="title-line"></div>

<p>Nous avons constaté qu’il y avait à Montréal très peu de structures adaptées aux membres des communautés africaines et afro-descendantes en ce qui concerne l’acquisition de connaissance concrètes sur l’histoire de l’Afrique, de son peuple et de sa diaspora. L’école NASARA résulte donc de la nécessité d’éduquer notre communauté, afin que nos jeunes puissent mettre en avant une identité dont ils sont fiers, devenant ainsi de meilleurs citoyens.</p>

<p>En tant que parents, nous avons à cœur le bien-être et la réussite de nos enfants. L’école NASARA se propose comme une excellente alternative, qui met tout en œuvre pour leur épanouissement et leur intégration dans la société  et ce en tenant compte des réalités sociales, culturelles et historiques de la communauté noire de Montréal. 
 Les membres de notre équipe possèdent une expertise académique spécialisée sur la culture afro-descendante jumelée à une expérience en entrepreneuriat nous permettant de vous proposer un service qui saura en tout temps répondre aux besoins de vos enfants.</p>

<p>Nos enseignants sont qualifiés et capables de transformer une formation approfondie et diversifiée en un moment divertissant, convivial, favorable aux échanges et à l’unification communautaire.</p>

<p>L’école Nasara, a été créé afin que nos enfants puissent enfin se reconnaître dans la matière qui leur est enseignée et ainsi développer un meilleure estime de soi. N’hésitez plus et rejoignez vite notre grande famille !</p>

<p>A très bientôt dans nos locaux !</p>