<div class="header_"><h5>Partenaires</h5></div>
<div class="partners">
    <h3>Partenaires</h3>
    <div id="_h3" class="title-line"></div><br><br><br>
    <div class="col-4">
        <img class="partns" src="assets/img/AP.png" alt="Alexis Phanor">
        <p>Développeur Web et mobile <br><b>Site : </b> <a href="http://alexisphanor.com/">alexisphanor.com</a></p>
    </div>
    <div class="col-4">
        <img class="partns" src="assets/img/creole.png" alt="communaute kreyol">
        <p>Nation Kréyol<br><b>Site : </b><a href="https://www.facebook.com/nationkreyol/?ref=br_rs&">communautekreyol</a></p>
    </div>
    <div class="col-4">
        <img class="partns" src="assets/img/partner1.png" alt="Graphik Punchline">
        <p>Graphik Punchline<br><b>Site : </b><a href="https://www.facebook.com/graphikpunchline/">Graphik Punchline</a></p>
    </div>
</div>