<div class="header_"><h5>Gallerie</h5></div>
<div class="row">
    <div class="input-field col s12">
        <section class="items-wrap container--open">
        	<a data-imagelightbox="f" href="javascript:void(0)" class="item">
        		<img class="item__image" src="assets/img/17492907_436272953381029_3093198193833131179_o.jpg" alt="Gallery 1"/>
        	</a>
        	<a data-imagelightbox="f" href="javascript:void(0)" class="item">
        		<img class="item__image" src="assets/img/17620323_436272866714371_6950972653637201824_o.jpg" alt="Gallery 2"/>
        	</a>
        </section>
    </div>
</div>