<div class="header_"><h5>Inscription</h5></div>
<h3 style="margin-top: 1em;">Veuillez choisir votre seance :</h3>
<div id="_h3" class="title-line"></div>
<form #formCtrl="ngForm">
    <div class="row">
        <div class="input-field col s6">
            <md-input-container class="example-full-width">
                <input mdInput value="" name="prenom" placeholder="Prénom" [(ngModel)]="firstname" required>
            </md-input-container>
        </div>
        <div class="input-field col s6">
            <md-input-container class="example-full-width">
                <input mdInput value="" name="famille" placeholder="Nom de famille" [(ngModel)]="lastname" required>
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <md-input-container class="example-full-width">
                <input mdInput value="" name="email" placeholder="Email" [(ngModel)]="email" [formControl]="emailFormControl" required>
                    <md-error *ngIf="emailFormControl.hasError('pattern')">
                        Veuillez saisir une adresse email valide.
                    </md-error>
            </md-input-container>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="input-field col s12">
            <div class="centeri">
                <label><b>Veuillez choisir votre séance gratuite ici :</b></label>
                <br>
                <select ng-model="inscription.cour" class="browser-default" name="course" [(ngModel)]="course" required>
                    <option value="">...</option>
                    <option value="Samedi 19 Août 2017 de 16h à 18h">Samedi 19 Août 2017 de 16h à 18h</option>
                </select>
            </div>
        </div>
    </div>
</form>
<div class="centero">
    <button md-button (click)="nSubmit(firstname,lastname,email,course)" [disabled]="!formCtrl.form.valid">Soumettre</button>
</div>
