<div class="header_"><h5>A Propos</h5></div>
<h2>Bienvenue sur notre site</h2>
<div id="_h2" class="title-line"></div>

<p style="text-align: center; margin: 2em auto;">Nous sommes Jérôme et Rachel deux jeunes parents afro-antillais fondateur de l'école NASARA.</p>

<div style="text-align: center; margin-bottom: 2em;">
    <img style="border-radius: 10px;" width="600" src="img/17492907_436272953381029_3093198193833131179_o.jpg">
</div>

<h3>Ecole NASARA</h3>
<div id="_h3" class="title-line"></div>

<p>Nous avons constaté qu’il y avait à Montréal très peu de structures adaptées aux membres des communauté africaines et afro-descendantes en ce qui concerne l’acquisition de connaissance concrètes sur l’histoire de l’Afrique, de son peuple et de sa diaspora. L’école Nationale Afrocentrique NASARA résulte donc de la nécessité d’éduquer notre communauté, afin que jeunes et moins jeunes puissent mettre en avant une identité dont ils sont fiers, devant ainsi de meilleurs citoyens.</p>

<p>En plus d’un cursus académique de 2e cycle spécialisé sur la perspective afrocentrique, notre expérience en entreprenariat et les 10 années d’expérience de service à la clientèle de premier plan que nous détenons nous permettent de vous proposer un service compétitif, qui saura en tout temps répondre à vos besoins.</p>

<p>Notre équipe pédagogique est composé d’enseignants qualifiés capables de transformer une formation approfondie et diversifiée en un moment divertissant, convivial, favorable aux échanges et à l’unification communautaire.</p>

<p>L’école Nationale Afrocentrique Nasara, a été créé par nous, pour vous et pour tous ceux qui se reconnaissent en ce projet ! N’hésitez plus et rejoignez vite notre grande famille !</p>

<p>A très bientôt dans nos locaux !</p>
