<div class="header_"><h5>Contact</h5></div>
<div class="contact">
    <h3>Ecole NASARA</h3>
    <div id="_h3" class="title-line"></div>
    <br>
    <ul>
        <li><a href="#" target="_blank"><i style="font-size: 11px;" class="fa fa-phone" aria-hidden="true"></i></a>&nbsp;&nbsp; <b>Coordonatrice des programmes éducatifs :</b> <small>514-652-0972</small></li>
        <li><a href="#" target="_blank"><i style="font-size: 13px;" class="fa fa-mobile" aria-hidden="true"></i></a>&nbsp;&nbsp; <b>Gestionnaire des ventes :</b> <small>514-621-9270</small></li>
    </ul>
    
    <p><a ng-href="mailto:info@ecolenasara.com" target="_self">info@ecolenasara.com</a></p>
    
    <p><a href="https://www.facebook.com/ecolenasara/" target="_blank"><i class="fa fa-facebook"></i></a> <small>: <b>École Nasara</b></small>&nbsp;&nbsp;<a href="https://instagram.com/ecole_nasara" target="_blank"><i class="fa fa-instagram"></i></a> <small>: <b>ecole_nasara</b></small></p>
</div>
<hr>
<div id="MyGMaps" style="width:570px;height:400px;margin: 0 auto;"></div>
<script>
function myMap() {
var GMaps = {
    center: new google.maps.LatLng(45.5262469,-73.6072142,11.57),
    zoom: 8
};
var map = new google.maps.Map(document.getElementById("MyGMaps"),GMaps);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBW6fjllTnk0J-m5GyuZGj_b3MMXW72Hfo&callback=myMap"></script>
