<div class="header_"><h5>Accueil</h5></div>
<h3>Bienvenue</h3>
<div id="_h3" class="title-line"></div>
<p>Vous souhaitez découvrir l&#39;Afrique, son histoire, sa culture, des premiers hommes jusqu’à nos jours ?</p>
<p>Cette école est pour vous !</p>

<p>Participez à notre prochaine séance d’information gratuite ! Notre équipe sera là pour répondre à toutes vos questions !</p>

<h4>Prochaines dates :</h4>
<div id="_h4" class="title-line"></div>
<ol>
    <li><b>Session :</b> Dimanche 21 mai 2017 de 14h à 16h<br>
    <b>Statut :</b> &nbsp;&nbsp;<span id="green"><i class="fa fa-circle" aria-hidden="true"></i></span>
    <div class='button -regular center' onclick="redirect()">S'inscrire</div>
    </li>
    <hr>
    <li><b>Session :</b> Dimanche 28 mai 2017 de 14h à 16h<br>
    <b>Statut :</b> &nbsp;&nbsp;<span id="green"><i class="fa fa-circle" aria-hidden="true"></i></span>
    <div class='button -regular center' onclick="redirect()">S'inscrire</div>
    </li>
    <hr>
    <li><b>Session :</b> Dimanche 4 Juin 2017 de 14h à 16h<br>
    <b>Statut :</b> &nbsp;&nbsp;<span id="green"><i class="fa fa-circle" aria-hidden="true"></i></span>
    <div class='button -regular center' onclick="redirect()">S'inscrire</div>
    </li>
</ol>
<br>
<br>
<hr>
<br>
<div id="tem">
    <h3>Temoignage</h3>
    <div id='_h3' class="title-line"></div>
    <br>
    <p>Vos avis sont importants pour nous ! Laissez-nous <a ng-href="mailto:nasara@monecoleafrocentrik.com" target="_self">vos témoignages</a> !</p>
<!--
    <section class="temoignage">
        <div class="tleft">
            <div class="tm-left"><img src="../blank-avatar.svg"></div>
            <div class="tm-right">
                <ul>
                    <li>Le Lorem Ipsum est simplement du faux texte employé.</li>
                    <li>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</li>
                </ul>
            </div>
        </div>
        <div class="tright">
            <div class="tm-left"><img src="../blank-avatar.svg"></div>
            <div class="tm-right">
                <ul>
                    <li>Le Lorem Ipsum est simplement du faux texte employé.</li>
                    <li>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="temoignage">
        <div class="tleft">
            <div class="tm-left"><img src="../blank-avatar.svg"></div>
            <div class="tm-right">
                <ul>
                    <li>Le Lorem Ipsum est simplement du faux texte employé.</li>
                    <li>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</li>
                </ul>
            </div>
        </div>
        <div class="tright">
            <div class="tm-left"><img src="../blank-avatar.svg"></div>
            <div class="tm-right">
                <ul>
                    <li>Le Lorem Ipsum est simplement du faux texte employé.</li>
                    <li>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</li>
                </ul>
            </div>
        </div>
    </section>
-->
</div>

<script>
    function redirect() {
        window.location.href ='#!/inscription';
    }
</script>