<div class="header_"><h5>Inscription</h5></div>
<h3 style="margin-top: 1em;">Veuillez choisir votre seance :</h3>
<div id="_h3" class="title-line"></div>
<div ng-hide="inscrit"class="inscription" style="padding: 2em; margin: 0 auto;">
    <br>
    <br>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input ng-model="inscription.fname" id="first_name" type="text" class="validate"> <label for="first_name">Prénom</label>
                </div>

                <div class="input-field col s6">
                    <input ng-model="inscription.lname" id="last_name" type="text" class="validate"> <label for="last_name">Nom de famille</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="inscription.email" id="email" type="email" class="validate"> <label for="email" data-error="wrong" data-success="right">Adresse email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label>Veuillez choisir votre séance gratuite ici :</label>
                    <br>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <md-content class="md-padding">
    <form ng-submit="$event.preventDefault()">
                    <md-autocomplete
                        ng-disabled="sa.isDisabled"
                        md-no-cache="sa.noCache"
                        md-selected-item="sa.selectedItem"
                        md-search-text-change="sa.searchTextChange(sa.searchText)"
                        md-search-text="sa.searchText"
                        md-selected-item-change="sa.selectedItemChange(item)"
                        md-items="item in sa.querySearch(sa.searchText)"
                        md-item-text="item.display"
                        md-min-length="0"
                    placeholder="What is your favorite US state?">
                        <md-item-template>
                        <span md-highlight-text="sa.searchText" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                        <md-not-found>
                        Pas de cours pour cette date.
                        </md-not-found>
                    </md-autocomplete>
    </form>
                    </md-content>
<!--
                    <select ng-model="cour" ng-options="obj.id as obj.name for obj in cours.data" class="browser-default">
                    </select>
-->
                    <select ng-model="inscription.cour" class="browser-default">
                        <option value="">...</option>
                        <option value="Samedi 12 Août 2017 de 16h à 18h">Samedi 12 Août 2017 de 16h à 18h</option>
                    </select>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <button class="btn waves-effect waves-light" ng-disabled="(inscription.fname&&inscription.lname&&inscription.email&&inscription.cour) ?  false : true" ng-click="submitIns()" type="submit" name="action">Soumettre
            </button>
        </form>
    </div>
</div>
<div ng-show="inscrit" class="successul" style="width: 500px; padding: 2em; margin: 0 auto; text-align: center;">
    <p>Merci ! Nous allons vous contacter d'ici peu.</p>
    <img width="230" src="http://www.freeiconspng.com/uploads/success-icon-10.png">
</div>

