<div class="header_"><h5>Programmation</h5></div>
<h3 style="margin-top: 1em;">Formateur :</h3>
<div id="_h3" class="title-line"></div>
<p style="margin-top: 3em;"><b style="font-size: 22px;">Herou Mbock</b></p>

<p><b>Biographie &amp; informations :</b></p>

<p>Né au Cameroun, passé par cycle d’ingénieur en chimie en Suisse et une maîtrise en

Ingénierie des pâtes et papiers au Canada, Herou Mbock donne des conférences, des

cours et des ateliers dans divers domaines tels que : les sciences appliquées, la culture,

l’histoire et les questions sociales.</p>

<p>Thèmes d’intérêts : Origine de l’humanité et de la civilisation, Fondements de la

civilisation africaine, Histoire de l’Afrique des origines à nos jours, Histoire de la

colonisation et de la mise en servitude des Africains, Éducation et formation de la

jeunesse, Initiation et parcours initiatique, astrologie pharaonique et calendrier kama,

etc…</p>

<p>En 2010, il fonde avec des amis la Maison d’Éditions Kiyikaat grâce à laquelle plusieurs

auteurs sont publiés pour la première fois. Dans la foulée de la maison d’éditions, il met

met en place l’organisation de conférences et colloques et d’évènements culturels tels que

la célébration du Nouvel an kama (Africain).

Ecrivain, il a publié le best-seller Noirs dans les camps nazis, et des essais à succès :

Quand les Noirs avaient des esclaves blancs, ou encore La légende du sexe

surdimensionné des Noirs, et le fameux Et si Dieu n&#39;aimait pas les Noirs : enquête sur le

racisme au Vatican.</p>

<p>
Écrivain, Herou Mbock a publié très récemment Um Nyobè ou l’invention de la nation

camerounaise aux Éditions Kiyikaat. Il prévoit de publier très prochainement des essais

historiques et politiques ainsi que des travaux sur les traditions et la spiritualité.</p>