<div class="header_"><h5>Programmation</h5></div>
<md-tab-group>
    <md-tab label="Programmation pour Enfants">
        <iframe src="https://s3-eu-west-1.amazonaws.com/dev.rachel/NEW+PROGRAMME+ENFANT.pdf" 
style="width:700px; height:700px;" frameborder="0"></iframe>
    </md-tab>
    <md-tab label="Programmation pour Adultes">
        <iframe src="https://s3-eu-west-1.amazonaws.com/dev.rachel/PROGRAMME+ADULTE+PHASE+1.pdf" 
style="width:700px; height:700px;" frameborder="0"></iframe>
    </md-tab>
    <md-tab label="Tarifs">
        <iframe src="https://s3-eu-west-1.amazonaws.com/dev.rachel/forfaits.pdf" 
style="width:700px; height:500px;" frameborder="0"></iframe>
    </md-tab>
</md-tab-group>