<div class="header_"><h5>Accueil</h5></div>
<h3>Bienvenue</h3>
<div id="_h3" class="title-line"></div>
<p>Vous souhaitez découvrir l&#39;Afrique, son histoire, sa culture, des premiers hommes jusqu’à nos jours ?</p>
<p>Cette école est pour vous !</p>

<p>Participez à notre prochaine séance d’information gratuite ! Notre équipe sera là pour répondre à toutes vos questions !</p>

<h4>Prochaines dates :</h4>
<div id="_h4" class="title-line"></div>
<ol>
    <li><b>Session :</b> Samedi 19 Août 2017 de 16h à 18h<br>
    <b>Statut :</b> &nbsp;&nbsp;<span id="green"><i class="fa fa-circle" aria-hidden="true"></i></span>
    <p><b><a href="https://www.facebook.com/BoutiqueEspaceUrbain/" target="_blank">@BoutiqueEspaceUrbain</a></b></p>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
    <div class='button -regular center' (click)="redirect()">S'inscrire</div>
    </li>
</ol>
<br>
<br>
<hr>
<br>
<div id="tem">
    <h3>Temoignages</h3>
    <div id='_h3' class="title-line"></div>
    <br>
    <p>Vos avis sont importants pour nous ! Laissez-nous <a href="mailto:nasara@monecoleafrocentrik.com" target="_self">vos témoignages</a> !</p>
</div>